CabinetInfermier/cabinet.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        xmlns:cab="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        elementFormDefault="qualified"
>
    
    <element name="cabinet" type ="cab:Cabinet"/>
    
    <!--Type Cabinet 
        contient un nom : Nom
                    prénom : Prénom 
                    infirmiers : liste Infirmier 
                    patients : Patient [0-n]
     -->
    <complexType name="Cabinet">
        <sequence>
            <element name = "nom" type="cab:NomGénérique"/>
            <element name = "prénom" type="cab:NomGénérique"/>
            <element name="infirmiers" type="cab:Infirmiers"/>
            <element name ="patiens" type = "cab:Patients"/>
        </sequence>
    </complexType>
    
    <!--  -->
    
    <complexType name="Infirmiers">
        <sequence>
            <element name="infirmier" type="cab:Infirmier" minOccurs="1" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    <!--  -->
    <complexType name="Patients">
        <sequence>
            <element name="patient" type="cab:Patient" minOccurs="0" maxOccurs="unbounded" />
        </sequence>
    </complexType>
    
    <!-- type NomGénérique
        un String qui commence par une majuscule
         il sera utilisé pour nom,prénom et ville
    -->
    <simpleType name="NomGénérique">
        <restriction base="string">
            <pattern value="[A-ZÉÈÊËÀÂÎÏÔÙÜÇ][a-zA-ZéèêëàâîïôùüçÉÈÊËÀÂÎÏÔÙÜÇ]*"/>   <!-- utilisation IA pour avoir toute les lettres necessaire(unicode y compris accentuée)  -->
        </restriction>
    </simpleType>
    
    <!-- type Infirmier
        contient id : Identifiant 
                 nom : NomGénérique
                 prémon : NomGénérique 
                 photo : Photo "optionnel"  
    -->
    <complexType name="Infirmier">
        <sequence>
            <element name="id" type="cab:Identifiant"/> <!--!UNIQUE-->
            <element name="nom" type="cab:NomGénérique"/>
            <element name="prénom" type="cab:NomGénérique"/>
            <element name="photo" type="cab:Photo"/>
        </sequence>
    </complexType>
    
    
    <!-- -->
    <complexType name="Patient">
        <sequence>
            <element name="nom" type="cab:NomGénérique"/>
            <element name="prenom" type="cab:NomGénérique"/>
            <element name="sexe" type="cab:Sexe"/>
            <element name="dateNaissance" type="date"/>
            <element name="numero" type="cab:numSecu"/>
            <element name="adresse" type="cab:Adresse"/>
            <element name="visite" type="cab:Visite" minOccurs="0" maxOccurs="unbounded"/>
        </sequence>
    </complexType>
    
    
    
    
    <!--simple type Identifiant
    un entier positif de trois chiffre unique (001, 999, 125...)
    utilisation de (\d -> digit ou chiffre)
    -->
    <simpleType name="Identifiant"> 
        <restriction base="integer">
            <pattern value="\d{3}"/>
        </restriction>
    </simpleType>
    
    
    
    <element name="Identifiants">
        <complexType>
            <sequence>
            <element name="id" type="cab:Identifiant"/>
            </sequence>
        </complexType>
        
        <unique name="uniqueIdentifiant">
            <selector xpath="id"/>
            <!-- verrifie la valeur textuelle de id( qui doivent etre tous différents) -->
            <field xpath="."/>
        </unique>
    </element>
    
    <simpleType name="Photo">
        <restriction base ="string">
            <pattern value=".*\.(jpg|png)"/>
        </restriction>
    </simpleType>
    
    <complexType name="Visite">
        <sequence>
            <element name="acte" type="cab:Acte"/>
        </sequence>
        <attribute name="date" type="date"/>
        <attribute name="intervenant" type="cab:Identifiant"/> <!-- unique -->
    </complexType>
    
    
    
    <!-- element parent (qui contient plusieur visites) pour les  visite afin d'avoir l'unisite des intervenants  -->
    <element name="Visites">
        <complexType>
        <sequence>
            <element name="visite" type="cab:Visite" maxOccurs="unbounded"/>
        </sequence>
        </complexType>
    
        <!--unicité des intervenant -->
        <unique name="IntervenantUnique">
                <selector xpath="visite"/>
                <field xpath=" @intervenant"/>
    
        </unique>
    </element>


    <!-- -->
    <complexType name="Adresse">
        <sequence>
            <element name="numero" type="cab:NombreEntier"/>
            <element name="rue" type="cab:Rue"/>
            <element name="ville" type="cab:NomGénérique"/>
        </sequence>
        <attribute name="etage" type="cab:NombreEntier"/>
        <attribute name="codePostal" type="cab:NombreEntier"/>
    </complexType>
    
    <complexType name="Rue">
        <attribute name="typeVoie" type="cab:TypeVoie"/>
        <attribute name="nom" type="string"/>
    </complexType>
    
    
    <simpleType name="TypeVoie">
        <restriction base="string">
            <pattern value="Rue"/>
            <pattern value="Avenue"/>
            <pattern value="Boulevard"/>
            <pattern value="Place"/>
            <pattern value="Chemin"/>
            <pattern value="Impasse"/>
        </restriction>
        
    </simpleType>
    
    <!-- -->
    <simpleType name="Sexe">
        <restriction base="string">
        <pattern value="M"/>
        <pattern value="F"/>
        </restriction>
        
    </simpleType>
    
    <!-- numSecu: composé de 13 chiffres, suivi d’une clé de contrôle
            de 2 chiffres  comprise entre 01 et 97 
            0[1-9] -> 01 à 09
            [1-8][0-9]  -> 10 à 89 
            9[0-7]   -> 90 à 97
 
 -->
    <simpleType name="numSecu">
        <restriction base="string">
            <pattern value="\d{13}(0[1-9]|[1-8][0-9]|9[0-7])"/>
        </restriction>
    </simpleType>
    
    
    <complexType name="Acte">
        <attribute name="id" type="cab:Identifiant" />
        <attribute name="intitule" type="string"/>
        <attribute name="lettreCle" type="cab:LettreCle"/>
    </complexType>
    
    
    
    <!-- NombreEntier: nombre entier >=0 -->
    <simpleType name="NombreEntier">
        <restriction base="integer">
            <minInclusive value="0"/>
        </restriction>
    </simpleType>
    
    <!-- LettreCle: ensemble de 3 lettres parmi les suivantes:
            AMI pour (Acte Médico-Infirmier)
            AIS (Acte de Soins Infirmier)
            DI (Démarche de soins Infirmiers)-->
    <simpleType name="LettreCle">
        <restriction base="string">
            <pattern value="AMI"/>
            <pattern value="AIS"/>
            <pattern value="DI"/>
        </restriction>
        
    </simpleType>
    
    
</schema>
