CabinetInfermier/cabinet.xsd

<?xml version="1.0" encoding="utf-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        xmlns:cab="http://www.univ-grenoble-alpes.fr/l3miage/medical"
        elementFormDefault="qualified"
>
    
    
    <element name="cabinet" type ="cab:Cabinet"/>
    
    <!--Type Cabinet 
        contient un nom : Nom
                    prénom : Prénom 
                    infirmier : Infirmier 3 ou plus 
                    patients : Patient [0-n]
     -->
    <complexType name="Cabinet">
        <sequence>
            <element name = "nom" type="cab:NomGénérique"/>
            <element name = "prénom" type="cab:NomGénérique"/>
            <element name="infirmier" type="cab:Infirmier"/>
            <element name ="patiens" type = "cab:Patient"/>
        </sequence>
    </complexType>
    
    <!-- type NomGénérique
        un String qui commence par une majuscule
         il sera utilisé pour nom,prénom et ville
    -->
    <simpleType name="NomGénérique">
        <restriction base="string">
            <pattern value="[A-Z][a-zA-Z]*"/>
        </restriction>
    </simpleType>
    
    <!-- type Infirmier
        contient id : Identifiant 
                 nom : NomGénérique
                 prémon : NomGénérique 
                 photo : Photo "optionnel"  
    -->
    <complexType name="Infirmier">
        <sequence>
            <element name="id" type="cab:Identifiant"/> <!--!UNIQUE-->
            <element name="nom" type="cab:NomGénérique"/>
            <element name="prénom" type="cab:NomGénérique"/>
            <element name="photo" type="cab:Photo"/>
        </sequence>
    </complexType>
    
    
    <!--simple type Identifiant
    un entier positif de trois chiffre unique (001, 999, 125...)
    utilisation de (\d -> digit ou chiffre)
    -->
    <simpleType name="Identifiant"> 
        <restriction base="integer">
            <pattern value="\d{3}"/>
        </restriction>
    </simpleType>
    
    <element name="Identifiants">
        <complexType>
            <sequence>
            <element name="id" type="cab:Identifiant"/>
            </sequence>
        </complexType>
        
        <unique name="uniqueIdentifiant">
            <selector xpath="id"/>
            <!-- verrifie la valeur textuelle de id( qui doivent etre tous différents) -->
            <field xpath="."/>
        </unique>
    </element>
    
    <simpleType name="Photo">
        <restriction base ="string">
            <pattern value=".*\.(jpg|png)"/>
        </restriction>
    </simpleType>
    
    <complexType name="Visite">
        <sequence>
            <element name="acte" type="cab:Acte"/>
        </sequence>
        <attribute name="date" type="date"/>
        <attribute name="intervenant" type="cab:Identifiant"/> <!-- unique -->
    </complexType>
    
    
    
    <!-- element parent (qui contient plusieur visites) pour les  visite afin d'avoir l'unisite des intervenants  -->
    <element name="Visites">
        <complexType>
        <sequence>
            <element name="visite" type="cab:Visite" maxOccurs="unbounded"/>
        </sequence>
        </complexType>
    
        <!--unicité des intervenant -->
        <unique name="IntervenantUnique">
                <selector xpath="visite"/>
                <field xpath=" @intervenant"/>
    
        </unique>
    </element>
    
    <complexType name="Rue">
        <attribute name="typeVoie" type="cab:TypeVoie"/>
        <attribute name="nom" type="string"/>
    </complexType>
    
    <simpleType name="TypeVoie">
        <restriction base="string">
            <pattern value="Rue"/>
            <pattern value="Avenue"/>
            <pattern value="Boulevard"/>
            <pattern value="Place"/>
            <pattern value="Chemin"/>
            <pattern value="Impasse"/>
        </restriction>
        
    </simpleType>
    
    
    <complexType name="Acte">
    </complexType>
    
    <complexType name="Patient">
    </complexType>
    
    
</schema>
